@model TTG3.Models.Location
@{
    ViewBag.Title = "Edit Location";
}
<h3 class="text-center">Edit Location</h3>
<hr />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card shadow-lg">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Location_ID)
                <table style="margin:auto">
                    <tr class="text-center">
                        <td>@Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label" })</td>
                    </tr>
                    <tr>
                        <td>@Html.EditorFor(model => model.Room, new { htmlAttributes = new { @class = "form-control text-center", @style = "width:300px;color:black", placeholder = "Room-Number" } })</td>
                    </tr>
                    <tr class="text-right">
                        <td>@Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                    </tr>
                    <tr class="text-center">
                        <td> @Html.LabelFor(model => model.Semester_Number, htmlAttributes: new { @class = "control-label" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(model => model.Semester_Number, new List<SelectListItem>
                               {
                                    new SelectListItem{Text="1",Value="1"},
                                    new SelectListItem{Text="2",Value="2"},
                                    new SelectListItem{Text="3",Value="3"},
                                    new SelectListItem{Text="4",Value="4"},
                                    new SelectListItem{Text="5",Value="5"}
                               }, "Select Semester", htmlAttributes: new { @class = "form-control", @style = "color:black" })
                        </td>
                    </tr>
                    <tr class="text-right">
                        <td>@Html.ValidationMessageFor(model => model.Semester_Number, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                    </tr>
                    <tr class="text-center">
                        <td>@Html.LabelFor(model => model.Subject_Type, htmlAttributes: new { @class = "control-label" })</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(model => model.Subject_Type, new List<SelectListItem>
                               {
                                    new SelectListItem{Text="Theory",Value="Theory"},
                                    new SelectListItem{Text="Practical",Value="Practical"}
                               }, "Select Type", htmlAttributes: new { @class = "form-control", @style = "color:black" })
                        </td>
                    </tr>
                    <tr class="text-right">
                        <td>@Html.ValidationMessageFor(model => model.Subject_Type, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                    </tr>
                    <tr style="height:25px"><td></td></tr>
                    <tr>
                        <td><input type="submit" value="Update" class="btn btn-block" style="background-color:#31D67B;color:black;font-weight:bold;" /></td>
                    </tr>
                    @if (ViewBag.ErrMsg != null)
                    {
                        <tr class="text-center text-danger">
                            <td>@ViewBag.ErrMsg</td>
                        </tr>
                    }
                </table>
                }
            </div>
            <div class="card-footer text-right">
                @Html.ActionLink("Back to List", "Index", "Locations", new { @class = "btn", @style = "background-color:#31D67B;color:black;font-weight:bold;" })
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>