@model TTG3.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Semester_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subject_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
