@model TTG3.Models.Session

@{
    ViewBag.Title = "Edit Session";
}
<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    td {
        padding: 0px 10px;
    }
</style>
<h3 class="text-center">Edit Session</h3>
<hr />
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card shadow-lg">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Session_ID)
                <table style="margin:auto">
                    <tr class="text-center">
                        <th>@Html.LabelFor(model => model.Semester_Number, htmlAttributes: new { @class = "control-label" })</th>
                        <th>@Html.LabelFor(model => model.Subject_ID, htmlAttributes: new { @class = "control-label" })</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(model => model.Semester_Number, new List<SelectListItem>
                            {
                                new SelectListItem{Text="1",Value="1"},
                                new SelectListItem{Text="2",Value="2"},
                                new SelectListItem{Text="3",Value="3"},
                                new SelectListItem{Text="4",Value="4"},
                                new SelectListItem{Text="5",Value="5"}
                            }, "Select Semester", htmlAttributes: new { @class = "form-control", @style = "color:black;width:300px" })
                        </td>
                        <td>@Html.DropDownList("Subject_ID", null, htmlAttributes: new { @class = "form-control", @style = "color:black;width:300px"})</td>
                    </tr>
                    <tr class="text-right">
                        <td>@Html.ValidationMessageFor(model => model.Semester_Number, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                        <td>@Html.ValidationMessageFor(model => model.Subject_ID, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                    </tr>
                    <tr style="height:16px"><td></td></tr>
                    <tr class="text-center">
                        <th>@Html.LabelFor(model => model.Professor_ID, htmlAttributes: new { @class = "control-label" })</th>
                        <th>@Html.LabelFor(model => model.Subject_Type, htmlAttributes: new { @class = "control-label" })</th>
                    </tr>
                    <tr>
                        <td>@Html.DropDownList("Professor_ID", null, htmlAttributes: new { @class = "form-control", @style = "color:black;width:300px" })</td>
                        <td>
                            @Html.DropDownListFor(model => model.Subject_Type, new List<SelectListItem>
                           {
                                new SelectListItem{Text="Theory",Value="Theory"},
                                new SelectListItem{Text="Practical",Value="Practical"}
                           }, "Select Type", htmlAttributes: new { @class = "form-control", @style = "color:black;width:300px" })
                        </td>
                    </tr>
                    <tr class="text-right">
                        <td>@Html.ValidationMessageFor(model => model.Professor_ID, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                        <td>@Html.ValidationMessageFor(model => model.Subject_Type, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                    </tr>
                    <tr style="height:16px"><td></td></tr>
                    <tr class="text-center">
                        <th>@Html.LabelFor(model => model.Sessions_Per_Week, htmlAttributes: new { @class = "control-label" })</th>
                        <th>@Html.LabelFor(model => model.Priority_Level, htmlAttributes: new { @class = "control-label" })</th>
                    </tr>
                    <tr>
                        <td>@Html.EditorFor(model => model.Sessions_Per_Week, new { htmlAttributes = new { @class = "form-control text-center", @style = "color:black;width:300px" } })</td>
                        <td>
                            @Html.DropDownListFor(model => model.Priority_Level, new List<SelectListItem>
                               {
                                    new SelectListItem{Text="Low",Value="0"},
                                    new SelectListItem{Text="High",Value="1"}
                               }, "Select Priority", htmlAttributes: new { @class = "form-control", @style = "color:black;width:300px" })
                        </td>
                    </tr>
                    <tr class="text-right">
                        <td>@Html.ValidationMessageFor(model => model.Sessions_Per_Week, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                        <td>@Html.ValidationMessageFor(model => model.Priority_Level, "", new { @class = "text-danger", @style = "font-size:14px" })</td>
                    </tr>
                    <tr style="height:16px"><td></td></tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Update" class="btn btn-block" style="background-color:#31D67B;color:black;font-weight:bold;" /></td>
                    </tr>
                    @if (ViewBag.ErrMsg != null)
                    {
                        <tr class="text-center text-danger">
                            <td colspan="2">@ViewBag.ErrMsg</td>
                        </tr>
                    }
                    @if(ViewData["dbueem"]!=null)
                    {
                        <tr class="text-center text-danger">
                            <td colspan="2">@ViewData["dbueem"]</td>
                        </tr>
                    }
                    else if(ViewData["em"]!=null)
                    {
                        <tr class="text-center text-danger">
                            <td colspan="2">@ViewData["em"]</td>
                        </tr>
                    }
                </table>
                }
            </div>
            <div class="text-right card-footer">
                @Html.ActionLink("Back to List", "Index", "Sessions", new { @class = "btn", @style = "background-color:#31D67B;color:black;font-weight:bold;" })
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>