@model IEnumerable<TTG3.Models.Session>

@{
    ViewBag.Title = "Session";
}
<h3 class="text-center">Session Details</h3>
<hr />
<div class="row">
    <div class="col-12">
        <table class="table table-bordered text-center table-hover" style="margin:auto;width:700px">
            <tr>
                <td>Semester 1 Subject Count</td>
                <th><span class="badge-warning badge-pill">@ViewData["s1subCount"]</span></th>
                <td>Semester 2 Subject Count</td>
                <th><span class="badge-warning badge-pill">@ViewData["s2subCount"]</span></th>
            </tr>
            <tr>
                <td>Semester 3 Subject Count</td>
                <th><span class="badge-warning badge-pill">@ViewData["s3subCount"]</span></th>
                <td>Semester 4 Subject Count</td>
                <th><span class="badge-warning badge-pill">@ViewData["s4subCount"]</span></th>
            </tr>
            <tr>
                <td>Semester 5 Subject Count</td>
                <th><span class="badge-warning badge-pill">@ViewData["s5subCount"]</th>
                <td colspan="2" align="center">@Html.ActionLink("Create New Session", "Create", "Sessions", new { @class = "btn", @style = "background-color:#31D67B;color:black;font-weight:bold;" })</td>
            </tr>
        </table>
        <hr/>
        @*<p class="text-right">
            @Html.ActionLink("Create New Session", "Create", "Sessions", new { @class = "btn", @style = "background-color:#31D67B;color:black;font-weight:bold;" })
        </p>*@
        <div style="height:700px;overflow-y:scroll">
            <table class="table table-striped table-hover table-bordered text-center">
                <tr>
                    <th style="width:200px;">@Html.DisplayNameFor(model => model.Professor.Professor_Name)</th>
                    <th style="width:200px;">@Html.DisplayNameFor(model => model.Subject.Subject_Name)</th>
                    <th style="width:100px;">@Html.DisplayNameFor(model => model.Semester_Number)</th>
                    <th style="width:130px;">@Html.DisplayNameFor(model => model.Subject_Type)</th>
                    <th style="width:110px;">@Html.DisplayNameFor(model => model.Sessions_Per_Week)</th>
                    <th style="width:130px;">@Html.DisplayNameFor(model => model.Priority_Level)</th>
                    <th></th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Professor.Professor_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subject.Subject_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Semester_Number)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subject_Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sessions_Per_Week)</td>
                        @if(item.Priority_Level==1)
                        {
                            <td>High</td>
                        }
                        else
                        {
                            <td>Low</td>
                        }
                    <td align="center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Session_ID }, new { @class = "btn btn-sm", @style = "border-width:2px;border-color:red;width:70px;font-weight:bold" })
                        &nbsp;
                        @Html.ActionLink("Delete", "Delete", new { id = item.Session_ID }, new { @class = "btn btn-sm", @style = "border-width:2px;border-color:red;width:70px;font-weight:bold" })
                    </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>